<div class="row mx0"><div class="col-12">
    <form [formGroup]="addnewline">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName = 'name'>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Discription</mat-label>
            <input matInput formControlName = 'discription'>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Size</mat-label>
            <input matInput formControlName = 'size'>
        </mat-form-field>
    </form>

    <button mat-raised-button color = 'primary' (click)="takeData()">Add</button>
</div></div>