<div class="container  mt-5" >
  <div class="row mx-0">
    <div class="col-12">
      <button class="btn btn-outline-primary" (click)="openAddDialog()"> Add </button>
    </div>
    <div class="col-12 ps-3 pt-4 text-light">
      <table class="table">
        <thead class="p-2">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Discription</th>
            <th>Size</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody class="p-2" *ngFor="let item of userArray; let i = index">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.company.name}}</td>
            <td>{{item.address.zipcode}}</td>
            <td> <button class="btn btn-outline-danger btn-sm " (click)="deleteLine(i)">Delete</button></td>
          </tr>
         </tbody> 
      </table>
    </div>
    </div>
</div>